body{
    background: rgb(167, 167, 167);
}

.thumbnail img{
    width: 100%;

}
/* .thumbnail{
    padding: 0;
} */

.thumbnail .caption-full{
    padding: .6rem;
}

.footer{
    
    width: 100%;
    background: #393939;
    color: #fff;
}
.footer p:first-child{
    padding-top: 1.4rem; 
}
.delete-form{
    display: inline;
    
}

.register input{
    max-width: 40%;
    margin: 0 auto;
}

.well > div{
    border-bottom: 1px #999999 solid;
}
.well > div:first-of-type{
    border-bottom: none;
}
.well > div:last-of-type{
    border-bottom: none;
}

.p-tag{
    opacity: 0;
}